<template>
  <article class="view-detail-max-w">
    <p class="text-h900 session-detail-title" :title="session.Title">{{ session.Title }}</p>
    <div class="">
      <!-- the name AND company are in bold in the png -->
      <p class="text-h500 speaker-bold" v-for="speaker in session.Speakers" :key="speaker.ID">
        <strong>
          <span>{{ `${speaker.FirstName} ${speaker.LastName}` }}</span>
          <span>, {{ speaker.Company }}</span>
        </strong>
      </p>
    </div>
    <p class="session-detail-desc">{{ session.Description }}</p>
    <p class=""><a href="#">See the Q &amp; A from the talk and others here.</a></p>
    <!-- need to make speaker plural when more than one speaker, no? -->
    <p class="session-detail-title-speakers">About the speaker{{ ((session.Speakers.length>1)? 's' : '' ) }}</p>
    <div class="" v-for="speaker in session.Speakers" :key="speaker.ID">
      <!-- the name is in bold in the png, the company is not... mistake??? -->
      <p>
        <span class="text-h500 speaker-bold" :title="`${speaker.FirstName} ${speaker.LastName}`"><strong>{{ `${speaker.FirstName} ${speaker.LastName}` }}</strong></span>
        <span :title="speaker.Company">, {{ speaker.Company }}</span>
      </p>
      <p>
        <span v-show="speaker.Biography !== ''" :title="`${speaker.FirstName} ${speaker.LastName} Biography`">{{ speaker.Biography }}</span>
      </p>
    </div>
  </article>
</template>

<script>
export default {
  name: 'CompSessionDetail',
  props: {
    session: Object
  },
  data () {
    return {
      // keep it for coverage when unit testing
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
@import '../assets/global-css';
.view-detail-max-w {
  max-width: 800px;
}
.session-detail-title {
  font-family: 'SFNSDisplayBold';
  font-size: 44px;
  margin-top: 40px;
  @include transitionAllProps();
}
.session-detail-desc {
  margin-top: 30px;
  margin-bottom: 30px;
}
.session-detail-title-speakers {
  font-family: 'SFNSDisplayBold';
  font-size: 34px;
}
.speaker-bold {
  font-family: 'SFNSDisplayBold';
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .session-detail-title {
    font-size: 36px;
  }
}
</style>
