<template>
  <div id="nav-tracks" title="Tracks Selector Tabs">
    <nav>
      <div v-for="track in tracks" :key="track" :class="['track-tab', { active: currTrackTitle === track }]" @click="handleTrackTabClick(track)">
        <div class="track-tab-text" :title="track">{{ track }}</div>
      </div>
    </nav>
  </div>
</template>

<script>
import EventBus from '../modules/EventBus'
export default {
  name: 'CompTracksNav',
  props: {
    tracks: Array
  },
  data () {
    return {
      currTrackTitle: '' // using to set the selected tab as 'active'
    }
  },
  methods: {
    handleTrackTabClick: function (track) {
      this.currTrackTitle = track
      EventBus.$emit('evt-track-selected', this.currTrackTitle)
    }
  },
  mounted () {
    // let's start by selecting the first Track as default to start the flow of eventually displaying the session details
    this.currTrackTitle = this.tracks[0]
    // let subscribers in system know we;ve made the initial Track selection
    this.handleTrackTabClick(this.currTrackTitle)
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
@import '../assets/global-css';
nav {
  border-bottom: 1px solid $N60;
}
.track-tab {
  display: inline-flex;
  padding: 0px 5px;
  min-width: 100px;
  min-height: 40px;
  background-color: $N20;
  border: 1px solid transparent;
  border-color: $N60 transparent transparent $N60;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  &:hover {
    background-color: $N0;
    color: $B200;
  }
  &.active {
    position: relative;
    top: 1px;
    background-color: $N0;
    height: 41px;
    cursor: default;
  }
  @include transitionAllProps();
}
.track-tab:first-child {
  border-top-left-radius: 0.4rem;
}
.track-tab:last-child {
  border-top-right-radius: 0.4rem;
  border-right-color: $N60;
}
.track-tab-text:hover {
  color: $B200;
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .track-tab {
    min-width: 70px;
    min-height: 40px;
    font-size: 14px;
    &.active {
      height: 40px;
    }
  }
}
</style>
