<template>
  <article>
    <div class="comp-session" :class="{ active: selectedSessionId === session.Id }" @click="handleSessionClick()">
      <h3 class="text-h600 text-bold" :title="session.Title">{{ session.Title }}</h3>
      <p v-for="speaker in session.Speakers" :key="speaker.Id">
        <span :title="`${speaker.FirstName} ${speaker.LastName}`">{{ `${speaker.FirstName} ${speaker.LastName}` }}</span><span class="comp-session-company" :title="speaker.Company">, {{ speaker.Company }}</span>
      </p>
    </div>
  </article>
</template>

<script>
import EventBus from '../modules/EventBus'
export default {
  name: 'CompSession',
  props: {
    session: Object,
    selectedSessionId: String
  },
  methods: {
    handleSessionClick: function () {
      EventBus.$emit('evt-session-selected', this.session.Id)
      console.log('CompSession.vue : handleTrackTabClick this.session.Id  = ' + this.session.Id)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
@import '../assets/global-css';
.comp-session {
  padding: 20px;
  border-bottom: 1px solid $N60;
  color: $N800;
  cursor: pointer;
  &:first-child {
    border-top: 1px solid $N60;
  }
  &.active {
    background-color: $N20;
  }
  @include transitionAllProps();
}
.comp-session > h3,
.comp-session > p {
  margin: 0px;
}
.comp-session > p {
  margin-top: 10px;
}
.text-bold {
  font-family: 'SFNSDisplayBold';
  margin-top: 0px;
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .comp-session {
    padding: 10px;
    font-size: 14px;
  }
}
</style>
