<template>
  <div class="custom-header" title="Atlassian Logo">
    <header>
      <div class="atlassian-logo-navbar">
        <svg class="atlassian-logo-navbar" viewBox="0 0 532.119 66.025" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="28.121" x2="11.239" y1="35.051" y2="64.292">
            <stop offset="0" stop-color="#0052cc"/>
            <stop offset=".923" stop-color="#2684ff"/>
          </linearGradient>
          <path d="m19.354 30.115a1.856 1.856 0 0 0 -3.157.343l-15.997 31.984a1.912 1.912 0 0 0 1.71 2.767h22.275a1.843 1.843 0 0 0 1.71-1.057c4.805-9.929 1.893-25.026-6.541-34.037z" fill="#fff"/>
          <path d="m31.087 1.024a42.188 42.188 0 0 0 -2.463 41.65l10.739 21.478a1.912 1.912 0 0 0 1.71 1.057h22.271a1.912 1.912 0 0 0 1.71-2.767s-29.962-59.931-30.715-61.43a1.806 1.806 0 0 0 -3.252.012z" fill="#fff"/>
          <g fill="#fff">
            <path d="m292.314 26.669c0 7.92 3.674 14.208 18.045 16.984 8.574 1.8 10.37 3.184 10.37 6.042 0 2.776-1.8 4.573-7.839 4.573a44.236 44.236 0 0 1 -20.821-5.634v12.9c4.328 2.123 10.043 4.491 20.658 4.491 15.024 0 20.985-6.7 20.985-16.657m0 0c0-9.39-4.981-13.8-19.025-16.82-7.757-1.715-9.635-3.429-9.635-5.879 0-3.1 2.776-4.409 7.92-4.409 6.206 0 12.33 1.878 18.127 4.491v-12.33a40.97 40.97 0 0 0 -17.719-3.674c-13.881 0-21.066 6.042-21.066 15.922"/>
            <path d="m485.332 11.563v53.646h11.431v-40.908l4.818 10.859 16.167 30.049h14.371v-53.646h-11.431v34.621l-4.328-10.044-12.983-24.577z"/>
            <path d="m400.133 11.563h12.493v53.646h-12.493z"/>
            <path d="m385.718 49.368c0-9.39-4.981-13.8-19.025-16.82-7.757-1.715-9.635-3.429-9.635-5.879 0-3.1 2.776-4.409 7.92-4.409 6.206 0 12.33 1.878 18.127 4.491v-12.33a40.97 40.97 0 0 0 -17.719-3.674c-13.881 0-21.066 6.042-21.066 15.922 0 7.92 3.674 14.208 18.045 16.984 8.574 1.8 10.37 3.184 10.37 6.042 0 2.776-1.8 4.573-7.839 4.573a44.236 44.236 0 0 1 -20.821-5.634v12.9c4.328 2.123 10.043 4.491 20.658 4.491 15.024 0 20.985-6.7 20.985-16.657"/>
            <path d="m195.265 11.563v53.646h25.678l4.043-11.595h-17.147v-42.051z"/>
            <path d="m144.533 11.563v11.594h13.881v42.052h12.574v-42.052h14.861v-11.594z"/>
            <path d="m126.3 11.563h-16.479l-18.707 53.646h14.286l2.652-9.035a35.508 35.508 0 0 0 20.008 0l2.652 9.035h14.289zm-8.24 34.937a24.4 24.4 0 0 1 -6.875-.989l6.875-23.411 6.875 23.419a24.4 24.4 0 0 1 -6.875.981z"/>
            <path d="m265.211 11.563h-16.478l-18.707 53.646h14.289l2.652-9.035a35.508 35.508 0 0 0 20.008 0l2.652 9.035h14.289zm-8.239 34.937a24.4 24.4 0 0 1 -6.875-.989l6.875-23.411 6.875 23.419a24.4 24.4 0 0 1 -6.875.981z"/>
            <path d="m457.644 11.563h-16.478l-18.707 53.646h14.289l2.652-9.035a35.508 35.508 0 0 0 20.008 0l2.652 9.035h14.29zm-8.244 34.937a24.4 24.4 0 0 1 -6.875-.989l6.875-23.411 6.875 23.419a24.4 24.4 0 0 1 -6.875.981z"/>
          </g>
        </svg>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  name: 'CompNavBar',
  data () {
    return {
      // keep it for coverage when unit testing
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
@import '../assets/global-css';
.custom-header {
  margin: 0;
  padding: 0;
  height: 60px;
  color: $N0;
  background-color: $B400;
}
.atlassian-logo-navbar {
  padding: 8px 8px 8px 25px;
  width: 170px;
  @include transitionAllProps();
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .atlassian-logo-navbar {
    padding: 10px 10px 15px;
    width: 140px;
  }
}
</style>
