<template>
  <div class="comp-video-archive-wrapper ">
    <!-- this is the logo, section title -->
    <div>
      <comp-jumbotron :sectionTitle="this.sectionTitle"></comp-jumbotron>
    </div>
    <!-- this is the nav bar for the Tracks -->
    <div class="comp-video-archive-tracks-nav-wrapper">
      <comp-tracks-nav :tracks="tracks"></comp-tracks-nav>
    </div>
    <!-- the lower half -->
    <div class="comp-video-archive-sessions-container-wrapper">
      <!-- the left side sessions 'nav' -->
      <div class="comp-video-archive-sessions-container">
        <comp-sessions-container :trackTitle="this.selectedTrackTitle" :sessionId="this.selectedSessionId" :sessions="this.sessionsForSelectedTrack"></comp-sessions-container>
      </div>
      <!-- the right side session detail -->
      <div class="comp-video-archive-session-detail-container">
        <comp-session-detail :session="this.selectedSession"></comp-session-detail>
      </div>
    </div>
  </div>
</template>

<script>
import EventBus from '../modules/EventBus'
import sessionsJson from '../assets/sessions.json'
export default {
  name: 'CompVideoArchive',
  data () {
    return {
      // IMPORTANT - I am using the CompVideoArchive as the model for this example SPA in the interest of saving time
      //     Normally, I would set up a proper store using Vuex !!!
      sectionTitle: 'Video Archive',
      jsonData: [],
      tracks: [],
      selectedTrackTitle: '',
      sessionsForSelectedTrack: [],
      selectedSessionId: '',
      selectedSession: { Id: '', Title: '', Speakers: [] }
    }
  },
  methods: {
    handleTrackSelected (trackTitle) {
      // store the selected Track
      this.selectedTrackTitle = trackTitle
      // use the selectedTrackTitle to gather the sessions for this Track
      this.sessionsForSelectedTrack = this.getSessionsForSelectedTrack(this.selectedTrackTitle)
      // select the first session so we have some content to view immediately vs an big, old empty page!
      this.handleSessionSelected(this.sessionsForSelectedTrack[0].Id)
      this.resetSessionContainerScrollToTop()
      console.log('CompVideoArchive.vue : handleTrackSelected trackTitle = ', trackTitle)
      console.log('CompVideoArchive.vue : handleTrackSelected this.selectedTrackTitle = ', this.selectedTrackTitle)
      console.log('CompVideoArchive.vue : handleTrackSelected this.sessionsForSelectedTrack = ', this.sessionsForSelectedTrack)
    },
    handleSessionSelected (sessionId) {
      this.selectedSessionId = sessionId
      this.selectedSession = this.getDetailsForSelectedSession(this.selectedSessionId)
      console.log('CompVideoArchive.vue : handleSessionSelected this.selectedSessionId = ', this.selectedSessionId)
      console.log('CompVideoArchive.vue : handleSessionSelected this.selectedSession = ', this.selectedSession)
    },
    getSessionsForSelectedTrack: function (selectedTrack) {
      return this.jsonData.filter((obj) => { return obj.Track.Title === selectedTrack })
    },
    getDetailsForSelectedSession: function (selectedSessionId) {
      return this.sessionsForSelectedTrack.filter((obj) => { return obj.Id === selectedSessionId })[0]
    },
    resetSessionContainerScrollToTop: function () {
      EventBus.$emit('evt-session-container-reset-scrollToTop')
    }
  },
  created () {
    // assign event listeners
    EventBus.$on('evt-track-selected', this.handleTrackSelected) // listening for when a Track tab is selected
    EventBus.$on('evt-session-selected', this.handleSessionSelected) // listening for when a Session is selected

    // grabing the json data now...
    // IMPORTANT - I am using the CompVideoArchive as the model for this example SPA in the interest of saving time
    //     Normally, I would set up a proper store using Vuex !!!
    this.jsonData = sessionsJson.Items
    // gather the Tracks from the jsonData now...
    // first time using Set, it creates a set (not array) that contains unqiue elements,
    // still need to convert back into array for my use, good stuff
    // ex.:  ["Build", "Plan", "Innovate", "Interact", "Scale", "Service", "Enhance", "General"]
    this.tracks = [...(new Set(this.jsonData.map((obj) => { return ((obj.Speakers && obj.Room) ? obj.Track.Title : '') })))].filter((el) => { if (el !== '') return el })

    this.handleTrackSelected(this.tracks[0])
  },
  mounted () {
    console.log('CompVideoArchive.vue : mounted this.jsonData =')
    console.log(this.jsonData)
    console.log('CompVideoArchive.vue : mounted this.tracks =')
    console.log(this.tracks)
  },
  beforeDestroy () {
    // always clean up after yourself
    EventBus.$off('evt-track-selected')
    EventBus.$off('evt-session-selected')
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
.comp-video-archive-wrapper {
  margin: 45px;
}
.comp-video-archive-tracks-nav-wrapper {
  margin: 80px 0px 30px 0px;
}
.comp-video-archive-sessions-container-wrapper {
  width: 100%;
}
.comp-video-archive-sessions-container {
  width: 31%;
  float: left;
}
.comp-video-archive-session-detail-container {
  width: 64%;
  float: right;
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .comp-video-archive-wrapper {
    margin: 20px;
  }
  .comp-video-archive-tracks-nav-wrapper {
    margin: 30px 0px;
  }
  .comp-video-archive-sessions-container,
  .comp-video-archive-session-detail-container {
    width: 100%;
    float: none;
  }
  .comp-video-archive-session-detail-container {
    margin-top: 60px;
  }
}
</style>
