<template>
  <div>
    <header>
      <h1 class="comp-sessions-header-title">{{ trackTitle }}</h1>
    </header>
    <section>
      <div id="sessions-container" class="comp-sessions-container">
        <comp-session v-for="session in sessions" :key="session.Id" :session="session" :selectedSessionId="sessionId"></comp-session>
      </div>
    </section>
  </div>
</template>

<script>
import EventBus from '../modules/EventBus'
export default {
  name: 'CompSessionsContainer',
  props: {
    trackTitle: String,
    sessions: Array,
    sessionId: String
  },
  methods: {
    handleResetSessionContainerScrollToTop: function () {
      this.$el.querySelector('#sessions-container').scrollTop = 0
    }
  },
  created () {
    EventBus.$on('evt-session-container-reset-scrollToTop', this.handleResetSessionContainerScrollToTop)
  },
  beforeDestroy () {
    EventBus.$off('evt-session-container-reset-scrollToTop')
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/atlassian-css';
@import '../assets/global-css';
.comp-sessions-header-title {
  font-family: 'SFNSDisplayBold';
  margin-bottom: 30px;
  font-size: 28px;
  @include transitionAllProps();
}
.comp-sessions-container {
  max-height: 550px;
  overflow-y: scroll;
}
/* Extra small - not getting too crazy due to time, just want to show responsiveness */
@media only screen and (max-width: 576px) {
  .comp-sessions-header-title {
    font-size: 22px;
  }
}
</style>
