// Primary color palette +++++++++++++++++++
$B400: #0052CC; // Pacific bridge
$N800: #172B4D; // Squid ink
$N0: #FFFFFF; // Doctor
// Using this for Links ++++++++++++++++++++
$B200: #2684FF; // Coogee
// Using this for warning ++++++++++++++++++
$Y200: #FFC400; // Pub mix
// Using this for error ++++++++++++++++++++
$R400: #DE350B; // Red dirt
// Secondary color palette +++++++++++++++++
$R300: #FF5630; // Poppy surprise
$Y300: #FFAB00; // Golden state
$G300: #36B37E; // Our kellie
$T300: #00B8D9; // Tamarama
$P300: #6554C0; // Da' juice
// Neutrals - Dark neutrals ++++++++++++++++
$N900: #091E42; // Slate
// Squid ink
$N700: #253858; // Snorlax
$N600: #344563; // Pet rock
$N500: #42526E; // McFanning
// Neutrals - Mid-neutrals +++++++++++++++++
$N400: #505F79; // Concrete jungle
$N300: #5E6C84; // Clooney
$N200: #6C798F; // Bling bling
$N100: #7A869A; // Humboldt fog
$N90: #8993A4;  // Meredith
$N80: #97A0AF;  // Spooky ghost
$N70: #A5ADBA;  // Blanche
$N60: #B3BAC5;  // Sentinel
// Neutrals - Light neutrals +++++++++++++++
$N50: #C1C7D0; // Karl
$N40: #DFE1E5; // Jolly fun time
$N30: #EBECF0; // Northeast snow
$N20: #F4F5F7; // Gram's hair
$N10: #FAFBFC; // Wash me
// Doctor

.text-h900 {
  // Suggested usage
  // For oversized screen titles. Use in moderation.
  font-size: 35px;
  font-weight: 500; // Medium;
  letter-spacing: -0.01em;
  color: N800;
  // UI properties
  line-height: 40px;
  margin-top: 52px;
}
.text-h800 {
  // Suggested usage
  // Empty states and feature introductions. Top level headers.
  font-size: 29px;
  font-weight: 500; // medium;
  letter-spacing: -0.01em;
  color: $N800;
  // UI properties
  line-height: 32px;
  margin-top: 40px;
  // Long form properties
  line-height: 32px;
  margin-top: 48px;
}
.text-h700 {
  // Use for
  // Main titles, use only once per page.
  font-size: 24px;
  font-weight: 500; // medium;
  letter-spacing: -0.01em;
  color: $N800;
  // UI properties
  line-height: 28px;
  margin-top: 40px;
  // Long form properties
  line-height: 28px;
  margin-top: 40px;
}
.text-h600 {
  // Use for
  // Headings that identify key functionality.
  font-size: 20px;
  font-weight: 500; // medium;
  letter-spacing: -0.008em;
  color: $N800;
  // UI properties
  line-height: 24px;
  margin-top: 28px;
  // Long form properties
  line-height: 24px;
  margin-top: 36px;
}
.text-h500 {
  // Use for
  // Sub-section and field group headings.
  font-size: 16px;
  font-weight: 500; // medium;
  letter-spacing: -0.006em;
  color: $N800;
  // UI properties
  line-height: 20px;
  margin-top: 24px;
  // Long form properties
  line-height: 24px;
  margin-top: 32px;
}
.text-h400 {
  // Use for
  // Deep headings and for highlighting important pieces of information.
  font-size: 14px;
  font-weight: 600; // semibold;
  letter-spacing: -0.003em;
  color: $N800;
  // UI properties
  line-height: 16px;
  margin-top: 16px;
  // Long form properties
  line-height: 20px;
  margin-top: 24px;
}
.text-h300 {
  // Suggested usage
  // Heading up a group of list items.
  font-size: 12px;
  font-weight: 600; // Semibold;
  letter-spacing: 0;
  color: $N300;
  // UI properties
  line-height: 16px;
  margin-top: 20px;
  // Long form properties
  line-height: 16px;
  margin-top: 20px;
}
.text-h200 {
  // Suggested usage
  // Low level headings.
  font-size: 12px;
  font-weight: 600; // semibold;
  letter-spacing: 0;
  color: $N300;
  // UI properties
  line-height: 16px;
  margin-top: 16px;
}
.text-h100 {
  // Suggested usage
  // Lowest level headings.
  font-size: 12px;
  font-weight: 400; // Regular;
  letter-spacing: 0;
  color: $N300;
  // UI properties
  line-height: 16px;
  margin-top: 16px;
}
