@mixin transitionAllProps () {
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
@font-face {
    font-family: SegoeUI;
    src: url(../fonts/SegoeUI.ttf);
}
@font-face {
    font-family: SFNSDisplayRegular;
    src: url(../fonts/SanFranciscoRegular.ttf);
}
@font-face {
    font-family: SFNSDisplayUltraLight;
    src: url(../fonts/SanFranciscoUltralight.ttf);
}
@font-face {
    font-family: SFNSDisplayBold;
    src: url(../fonts/SanFranciscoBold.ttf);
}
@font-face {
    font-family: SFNSDisplayThin;
    src: url(../fonts/SanFranciscoThin.ttf);
}
