<template>
  <div id="#app">
    <div>
      <header>
        <!-- this is the top bar with atlassian logo -->
        <comp-nav-bar></comp-nav-bar>
      </header>
    </div>
    <main>
      <!-- this is the page content -->
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      // keep it for coverage when unit testing
    }
  }
}
</script>

<style lang="scss">
// applying the styles found in Atlassian Product style/product/press kit guides
@import './assets/atlassian-css';
body {
  font-family: 'SFNSDisplayRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $N800;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $B200;
}
</style>
